.boarGame {
    /* width: 50%;
	height: 50%; */
    width: 70%;
    height: width;

    flex-shrink: 0;
    border-radius: 1rem;

    opacity: 0.699999988079071;
    background: var(--dark-bg, #091522);
    box-shadow: 0px -4px 16px 0px #000;
    height: 50vh;
}
