.btn {
    margin-top: 2rem;
    padding: 16px 24px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: var(--color-dark-green);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--color-mid-green);
}
