.match {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  
  .winner {
    float: left;
  }
  
  .winner img {
    width: 50px;
    margin-right: 10px;
  }
  
  .winner span {
    font-size: 14px;
  }
  
  .loser {
    float: right;
  }
  
  .loser img {
    width: 50px;
    margin-left: 10px;
  }
  
  .loser span {
    font-size: 14px;
  }
  