.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.profile {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
