.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

    width: 90vw;
    height: 80vh;
    min-height: 500px;

    background: var(--color-black-transparent);
    box-shadow: 0px -4px 16px var(--color-black);
    border-radius: 28px;
}

.container h1 {
    margin: 1rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: var(--color-white);

    /* background: #3b10e6bd TO DELETE */
}

.body {
    flex-grow: 1;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* background: #159c5650   TO DELETE */
}

.bodyLeftSide {
    flex-grow: 1;
    padding: 1rem;

    height: 100%;
    width: 60%;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;

    /* background: #341ac6bd TO DELETE */
}

.bodyRightSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 40%;
    height: 100%;

    /* background: #835211bd TO DELETE; */
}
